---
title: Netlify Takehome
---

<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-offset-2 col-md-8 text-center">
      <h1><%= current_page.data.title %></h1>
      <hr>
    </div>
  </div>
  
  <% data.questions.each_with_index do |entry,i| %>
  <div class="row">
    
    <div class="col-md-offset-2 col-md-8">
      
      <div class="circle text-center pull-left" style="background-color:<%= entry.color %>"><%=entry.label%></div>
      
      <div>
        <%= markdown("**Question:** "+entry.question) %>
        <%= markdown("**Answer:** "+entry.answer) %>
      </div>
    
    <hr>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <p>Here are some links to my blogs currently hosted on Netlify.</p>
      <ul>
        <li> 
        <%= link_to(
        "www.jaredwolff.com",
        "https://www.jaredwolff.com",
        target: "_blank") %>
        </li>
        <li>
        <%= link_to(
        "www.wolffrideswest.com",
        "https://www.wolffrideswest.com",
        target: "_blank") %>
        </li>
      </ul>
    </div>
  </div>

</div>
